<?xml version="1.0" encoding="utf-8"?>

<log4net>
  <appender name="DingtalkAppender" type="log4net.Appender.DingtalkAppender, log4net.DingtalkAppender">
    <webhookUrl>https://oapi.dingtalk.com/robot/send?access_token=9b1156da7b2df5e83f5307055ace8cf5be7ae6d8db3d58643367c97312f0bb5a</webhookUrl>
    <secret>SECf8760cb8bdc6a78e26e7d13a78880ce24db8533952e8f9a622dfd4fb8f554d0b</secret>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="NOTICE" />
      <levelMax value="ERROR" />
    </filter>
  </appender>
  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%property{CurrentDirectory}\Logs\%property{ApplicationName}-%property{log4net:HostName}.txt" />
    <appendToFile value="true" />
    <encoding value="utf-8" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <rollingStyle value="Size" />
    <maximumFileSize value="1MB" />
    <maxSizeRollBackups value="100" />
    <preserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date%newline  [%-5level] - %message%newline%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG"/>
      <levelMax value="ERROR"/>
    </filter>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="DingtalkAppender" />
    <appender-ref ref="FileAppender"/>
  </root>
</log4net>